
openapi: 3.0.0
info:
  title: Traceability Schemas
  version: 1.0.0
servers:
  - url: https://w3id.org/traceability/openapi/components
  - url: http://localhost:5000/openapi/components

paths:
  /schemas/common/AgricultureActivity.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgricultureActivity.yml'
    

  /schemas/common/AgricultureInspectionCommonInfo.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgricultureInspectionCommonInfo.yml'
    

  /schemas/common/AgricultureInspectionGeneric.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgricultureInspectionGeneric.yml'
    

  /schemas/common/AgriculturePackage.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgriculturePackage.yml'
    

  /schemas/common/AgricultureParcelDelivery.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgricultureParcelDelivery.yml'
    

  /schemas/common/AgricultureProduct.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgricultureProduct.yml'
    

  /schemas/common/BankAccount.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/BankAccount.yml'
    

  /schemas/common/BankAccountHolderAffirmation.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/BankAccountHolderAffirmation.yml'
    

  /schemas/common/BillOfLading.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/BillOfLading.yml'
    

  /schemas/common/BusinessRegistrationAffirmation.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/BusinessRegistrationAffirmation.yml'
    

  /schemas/common/CBPEntry.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CBPEntry.yml'
    

  /schemas/common/CBPEntryEntity.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CBPEntryEntity.yml'
    

  /schemas/common/CBPEntryLineItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CBPEntryLineItem.yml'
    

  /schemas/common/CBPEntrySummary.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CBPEntrySummary.yml'
    

  /schemas/common/CBPEntrySummaryLineItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CBPEntrySummaryLineItem.yml'
    

  /schemas/common/CBPImporterOfRecord.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CBPImporterOfRecord.yml'
    

  /schemas/common/CTPAT.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CTPAT.yml'
    

  /schemas/common/CTPATEIPApplication.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CTPATEIPApplication.yml'
    

  /schemas/common/CTPATMember.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CTPATMember.yml'
    

  /schemas/common/CargoItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CargoItem.yml'
    

  /schemas/common/CargoLineItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CargoLineItem.yml'
    

  /schemas/common/ChargeDeclaration.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ChargeDeclaration.yml'
    

  /schemas/common/ChemicalProperty.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ChemicalProperty.yml'
    

  /schemas/common/CommissionEvent.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CommissionEvent.yml'
    

  /schemas/common/Commodity.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Commodity.yml'
    

  /schemas/common/ConsignmentItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ConsignmentItem.yml'
    

  /schemas/common/ConsignmentRatingDetail.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ConsignmentRatingDetail.yml'
    

  /schemas/common/ContactPoint.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ContactPoint.yml'
    

  /schemas/common/Customer.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Customer.yml'
    

  /schemas/common/DCSAShippingInstruction.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/DCSAShippingInstruction.yml'
    

  /schemas/common/DCSATransportDocument.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/DCSATransportDocument.yml'
    

  /schemas/common/DeMinimisShipment.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/DeMinimisShipment.yml'
    

  /schemas/common/DeliverySchedule.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/DeliverySchedule.yml'
    

  /schemas/common/DeliveryStatement.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/DeliveryStatement.yml'
    

  /schemas/common/EDDShape.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/EDDShape.yml'
    

  /schemas/common/EDDShapeMeta.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/EDDShapeMeta.yml'
    

  /schemas/common/Entity.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Entity.yml'
    

  /schemas/common/EntryNumber.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/EntryNumber.yml'
    

  /schemas/common/Event.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Event.yml'
    

  /schemas/common/ExternalResource.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ExternalResource.yml'
    

  /schemas/common/FSMAAbstractKDE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAAbstractKDE.yml'
    

  /schemas/common/FSMACreatingCTE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMACreatingCTE.yml'
    

  /schemas/common/FSMAFirstReceiverData.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAFirstReceiverData.yml'
    

  /schemas/common/FSMAGrowingCTE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAGrowingCTE.yml'
    

  /schemas/common/FSMAProduct.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAProduct.yml'
    

  /schemas/common/FSMAReceivingCTE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAReceivingCTE.yml'
    

  /schemas/common/FSMAShipment.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAShipment.yml'
    

  /schemas/common/FSMAShippingCTE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAShippingCTE.yml'
    

  /schemas/common/FSMATraceabilityLot.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMATraceabilityLot.yml'
    

  /schemas/common/FSMATransformingCTE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMATransformingCTE.yml'
    

  /schemas/common/FoodDefenseDeficiency.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodDefenseDeficiency.yml'
    

  /schemas/common/FoodDefenseInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodDefenseInspection.yml'
    

  /schemas/common/FoodDefenseQuestion.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodDefenseQuestion.yml'
    

  /schemas/common/FoodGradeInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspection.yml'
    

  /schemas/common/FoodGradeInspectionDefect.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspectionDefect.yml'
    

  /schemas/common/FoodGradeInspectionLot.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspectionLot.yml'
    

  /schemas/common/FoodGradeInspectionResult.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspectionResult.yml'
    

  /schemas/common/FoodGradeInspectionSample.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspectionSample.yml'
    

  /schemas/common/FoodGradeInspectionSampleProperty.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspectionSampleProperty.yml'
    

  /schemas/common/ForeignChargeDeclaration.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ForeignChargeDeclaration.yml'
    

  /schemas/common/FreightManifest.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FreightManifest.yml'
    

  /schemas/common/GAPCorrectiveActionReport.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/GAPCorrectiveActionReport.yml'
    

  /schemas/common/GAPInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/GAPInspection.yml'
    

  /schemas/common/GAPLocationCertification.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/GAPLocationCertification.yml'
    

  /schemas/common/GAPRequirementResult.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/GAPRequirementResult.yml'
    

  /schemas/common/GeoCoordinates.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/GeoCoordinates.yml'
    

  /schemas/common/HouseBillOfLading.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/HouseBillOfLading.yml'
    

  /schemas/common/IATAAirWaybill.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/IATAAirWaybill.yml'
    

  /schemas/common/ImporterSecurityFiling.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ImporterSecurityFiling.yml'
    

  /schemas/common/Inbond.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Inbond.yml'
    

  /schemas/common/InspectionReport.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/InspectionReport.yml'
    

  /schemas/common/Inspector.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Inspector.yml'
    

  /schemas/common/Instructions.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Instructions.yml'
    

  /schemas/common/IntellectualPropertyRights.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/IntellectualPropertyRights.yml'
    

  /schemas/common/IntellectualPropertyRightsAffirmation.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/IntellectualPropertyRightsAffirmation.yml'
    

  /schemas/common/IntentToImport.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/IntentToImport.yml'
    

  /schemas/common/Invoice.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Invoice.yml'
    

  /schemas/common/LEIaddress.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LEIaddress.yml'
    

  /schemas/common/LEIauthority.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LEIauthority.yml'
    

  /schemas/common/LEIentity.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LEIentity.yml'
    

  /schemas/common/LEIevidenceDocument.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LEIevidenceDocument.yml'
    

  /schemas/common/LEIregistration.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LEIregistration.yml'
    

  /schemas/common/LaceyActProductDeclaration.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LaceyActProductDeclaration.yml'
    

  /schemas/common/LinkRole.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LinkRole.yml'
    

  /schemas/common/MapResource.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MapResource.yml'
    

  /schemas/common/MasterBillOfLading.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MasterBillOfLading.yml'
    

  /schemas/common/MeasuredProperty.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MeasuredProperty.yml'
    

  /schemas/common/MeasuredValue.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MeasuredValue.yml'
    

  /schemas/common/MechanicalProperty.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MechanicalProperty.yml'
    

  /schemas/common/MonetaryAmount.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MonetaryAmount.yml'
    

  /schemas/common/MonthlyAdvanceManifest.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MonthlyAdvanceManifest.yml'
    

  /schemas/common/MonthlyDeliveryStatement.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MonthlyDeliveryStatement.yml'
    

  /schemas/common/MultiModalBillOfLading.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MultiModalBillOfLading.yml'
    

  /schemas/common/NAISMADateTime.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMADateTime.yml'
    

  /schemas/common/NAISMAInfestation.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMAInfestation.yml'
    

  /schemas/common/NAISMAInformationSource.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMAInformationSource.yml'
    

  /schemas/common/NAISMALocation.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMALocation.yml'
    

  /schemas/common/NAISMARecordLeveldentifiers.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMARecordLeveldentifiers.yml'
    

  /schemas/common/NAISMARecordStatus.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMARecordStatus.yml'
    

  /schemas/common/NAISMASubject.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMASubject.yml'
    

  /schemas/common/NAISMATaxonomy.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMATaxonomy.yml'
    

  /schemas/common/Observation.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Observation.yml'
    

  /schemas/common/OilAndGasDeliveryTicket.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OilAndGasDeliveryTicket.yml'
    

  /schemas/common/OilAndGasProduct.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OilAndGasProduct.yml'
    

  /schemas/common/Order.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Order.yml'
    

  /schemas/common/OrderItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrderItem.yml'
    

  /schemas/common/OrganicCertification.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrganicCertification.yml'
    

  /schemas/common/OrganicInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrganicInspection.yml'
    

  /schemas/common/OrganicOSPSectionReview.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrganicOSPSectionReview.yml'
    

  /schemas/common/OrganicProductCertification.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrganicProductCertification.yml'
    

  /schemas/common/OrganicReview.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrganicReview.yml'
    

  /schemas/common/Organization.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Organization.yml'
    

  /schemas/common/PGAShipmentStatus.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PGAShipmentStatus.yml'
    

  /schemas/common/PGAShipmentStatusList.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PGAShipmentStatusList.yml'
    

  /schemas/common/Package.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Package.yml'
    

  /schemas/common/PackingList.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PackingList.yml'
    

  /schemas/common/ParcelDelivery.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ParcelDelivery.yml'
    

  /schemas/common/PartOfOrder.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PartOfOrder.yml'
    

  /schemas/common/Person.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Person.yml'
    

  /schemas/common/PestDetermination.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PestDetermination.yml'
    

  /schemas/common/PestSample.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PestSample.yml'
    

  /schemas/common/Phytosanitary.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Phytosanitary.yml'
    

  /schemas/common/Place.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Place.yml'
    

  /schemas/common/PlantSystemsInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PlantSystemsInspection.yml'
    

  /schemas/common/PlantSystemsQuestion.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PlantSystemsQuestion.yml'
    

  /schemas/common/PostalAddress.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PostalAddress.yml'
    

  /schemas/common/PostmanCollection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PostmanCollection.yml'
    

  /schemas/common/PriceSpecification.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PriceSpecification.yml'
    

  /schemas/common/Product.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Product.yml'
    

  /schemas/common/Purchase.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Purchase.yml'
    

  /schemas/common/PurchaseOrder.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PurchaseOrder.yml'
    

  /schemas/common/Qualification.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Qualification.yml'
    

  /schemas/common/QuantitativeValue.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/QuantitativeValue.yml'
    

  /schemas/common/RawMaterial.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/RawMaterial.yml'
    

  /schemas/common/RevocationList2020Status.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/RevocationList2020Status.yml'
    

  /schemas/common/RoutingInfo.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/RoutingInfo.yml'
    

  /schemas/common/SIMASteelImportLicense.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/SIMASteelImportLicense.yml'
    

  /schemas/common/SIMASteelImportProductSpecifier.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/SIMASteelImportProductSpecifier.yml'
    

  /schemas/common/Scorecard.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Scorecard.yml'
    

  /schemas/common/SeaCargoManifest.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/SeaCargoManifest.yml'
    

  /schemas/common/Seal.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Seal.yml'
    

  /schemas/common/ServiceCharge.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ServiceCharge.yml'
    

  /schemas/common/ShippingDetails.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ShippingDetails.yml'
    

  /schemas/common/ShippingInstructions.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ShippingInstructions.yml'
    

  /schemas/common/ShippingStop.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ShippingStop.yml'
    

  /schemas/common/SoftwareBillOfMaterials.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/SoftwareBillOfMaterials.yml'
    

  /schemas/common/SteelProduct.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/SteelProduct.yml'
    

  /schemas/common/Taxonomy.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Taxonomy.yml'
    

  /schemas/common/TemperatureReading.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TemperatureReading.yml'
    

  /schemas/common/Template.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Template.yml'
    

  /schemas/common/Thing.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Thing.yml'
    

  /schemas/common/TraceabilityAPI.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TraceabilityAPI.yml'
    

  /schemas/common/TradeLineItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TradeLineItem.yml'
    

  /schemas/common/TransferEvent.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TransferEvent.yml'
    

  /schemas/common/TransformEvent.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TransformEvent.yml'
    

  /schemas/common/Transport.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Transport.yml'
    

  /schemas/common/TransportDocument.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TransportDocument.yml'
    

  /schemas/common/TransportEquipment.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TransportEquipment.yml'
    

  /schemas/common/TransportEvent.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TransportEvent.yml'
    

  /schemas/common/USDAPPQ203ForeignSiteInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ203ForeignSiteInspection.yml'
    

  /schemas/common/USDAPPQ309APestInterceptionRecord.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ309APestInterceptionRecord.yml'
    

  /schemas/common/USDAPPQ368NoticeOfArrival.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ368NoticeOfArrival.yml'
    

  /schemas/common/USDAPPQ391SpecimensForDetermination.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ391SpecimensForDetermination.yml'
    

  /schemas/common/USDAPPQ429FumigationRecord.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ429FumigationRecord.yml'
    

  /schemas/common/USDAPPQ449RTemperatureCalibration.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ449RTemperatureCalibration.yml'
    

  /schemas/common/USDAPPQ505PlantDeclaration.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ505PlantDeclaration.yml'
    

  /schemas/common/USDAPPQ519ComplianceAgreement.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ519ComplianceAgreement.yml'
    

  /schemas/common/USDAPPQ587PlantImportApplication.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ587PlantImportApplication.yml'
    

  /schemas/common/USDAPPQ587PlantImportPermit.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ587PlantImportPermit.yml'
    

  /schemas/common/USDASpecialtyCrops237AForm.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDASpecialtyCrops237AForm.yml'
    

  /schemas/common/USMCACertifier.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USMCACertifier.yml'
    

  /schemas/common/USMCAProductSpecifier.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USMCAProductSpecifier.yml'
    

  /schemas/common/UsdaSc6.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/UsdaSc6.yml'
    

  /schemas/common/Workflow.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Workflow.yml'
    

  /schemas/credentials/ActivityPubActorCard.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/ActivityPubActorCard.yml'
    

  /schemas/credentials/AgricultureCanineCard.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/AgricultureCanineCard.yml'
    

  /schemas/credentials/BankAccountCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/BankAccountCredential.yml'
    

  /schemas/credentials/BillOfLadingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/BillOfLadingCredential.yml'
    

  /schemas/credentials/CBP3461EntryCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CBP3461EntryCredential.yml'
    

  /schemas/credentials/CBP7501EntrySummaryCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CBP7501EntrySummaryCredential.yml'
    

  /schemas/credentials/CTPATCertificate.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CTPATCertificate.yml'
    

  /schemas/credentials/CTPATEIPApplicationCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CTPATEIPApplicationCredential.yml'
    

  /schemas/credentials/CTPATEIPFulfillmentCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CTPATEIPFulfillmentCredential.yml'
    

  /schemas/credentials/CTPATEIPMarketplaceCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CTPATEIPMarketplaceCredential.yml'
    

  /schemas/credentials/CTPATEIPSellerCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CTPATEIPSellerCredential.yml'
    

  /schemas/credentials/CertificationOfOrigin.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CertificationOfOrigin.yml'
    

  /schemas/credentials/CommercialInvoiceCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CommercialInvoiceCredential.yml'
    

  /schemas/credentials/DCSAShippingInstructionCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/DCSAShippingInstructionCredential.yml'
    

  /schemas/credentials/DCSATransportDocumentCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/DCSATransportDocumentCredential.yml'
    

  /schemas/credentials/DeMinimisShipmentCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/DeMinimisShipmentCredential.yml'
    

  /schemas/credentials/DeliveryScheduleCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/DeliveryScheduleCredential.yml'
    

  /schemas/credentials/DeliveryStatementCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/DeliveryStatementCredential.yml'
    

  /schemas/credentials/EntryNumberCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/EntryNumberCredential.yml'
    

  /schemas/credentials/EventCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/EventCredential.yml'
    

  /schemas/credentials/FSMACreatingCTECredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMACreatingCTECredential.yml'
    

  /schemas/credentials/FSMAFirstReceiverDataCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMAFirstReceiverDataCredential.yml'
    

  /schemas/credentials/FSMAGrowingCTECredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMAGrowingCTECredential.yml'
    

  /schemas/credentials/FSMAReceivingCTECredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMAReceivingCTECredential.yml'
    

  /schemas/credentials/FSMAShippingCTECredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMAShippingCTECredential.yml'
    

  /schemas/credentials/FSMATransformingCTECredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMATransformingCTECredential.yml'
    

  /schemas/credentials/FoodDefenseInspectionCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FoodDefenseInspectionCredential.yml'
    

  /schemas/credentials/FoodGradeInspectionCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FoodGradeInspectionCredential.yml'
    

  /schemas/credentials/FreightManifestCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FreightManifestCredential.yml'
    

  /schemas/credentials/FulfillmentRegistrationCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FulfillmentRegistrationCredential.yml'
    

  /schemas/credentials/GAPInspectionCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GAPInspectionCredential.yml'
    

  /schemas/credentials/GS18PrefixLicenseCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GS18PrefixLicenseCredential.yml'
    

  /schemas/credentials/GS1CompanyPrefixLicenseCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GS1CompanyPrefixLicenseCredential.yml'
    

  /schemas/credentials/GS1DataCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GS1DataCredential.yml'
    

  /schemas/credentials/GS1DelegationCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GS1DelegationCredential.yml'
    

  /schemas/credentials/GS1IdentificationKeyLicenseCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GS1IdentificationKeyLicenseCredential.yml'
    

  /schemas/credentials/GS1KeyCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GS1KeyCredential.yml'
    

  /schemas/credentials/GS1PrefixLicenseCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GS1PrefixLicenseCredential.yml'
    

  /schemas/credentials/HouseBillOfLadingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/HouseBillOfLadingCredential.yml'
    

  /schemas/credentials/IATAAirWaybillCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/IATAAirWaybillCredential.yml'
    

  /schemas/credentials/ImporterSecurityFilingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/ImporterSecurityFilingCredential.yml'
    

  /schemas/credentials/IntellectualPropertyRightsCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/IntellectualPropertyRightsCredential.yml'
    

  /schemas/credentials/IntentToImportCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/IntentToImportCredential.yml'
    

  /schemas/credentials/InventoryRegistrationCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/InventoryRegistrationCredential.yml'
    

  /schemas/credentials/MasterBillOfLadingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/MasterBillOfLadingCredential.yml'
    

  /schemas/credentials/MillTestReportCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/MillTestReportCredential.yml'
    

  /schemas/credentials/MonthlyAdvanceManifestCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/MonthlyAdvanceManifestCredential.yml'
    

  /schemas/credentials/MultiModalBillOfLadingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/MultiModalBillOfLadingCredential.yml'
    

  /schemas/credentials/OilAndGasDeliveryTicketCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/OilAndGasDeliveryTicketCredential.yml'
    

  /schemas/credentials/OilAndGasProductCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/OilAndGasProductCredential.yml'
    

  /schemas/credentials/OrderConfirmationCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/OrderConfirmationCredential.yml'
    

  /schemas/credentials/OrganicCertificateCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/OrganicCertificateCredential.yml'
    

  /schemas/credentials/PGAShipmentStatusCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/PGAShipmentStatusCredential.yml'
    

  /schemas/credentials/PackingListCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/PackingListCredential.yml'
    

  /schemas/credentials/PlantSystemsInspectionCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/PlantSystemsInspectionCredential.yml'
    

  /schemas/credentials/ProductRegistrationCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/ProductRegistrationCredential.yml'
    

  /schemas/credentials/PurchaseOrderCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/PurchaseOrderCredential.yml'
    

  /schemas/credentials/SIMASteelImportLicenseApplicationCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/SIMASteelImportLicenseApplicationCredential.yml'
    

  /schemas/credentials/SIMASteelImportLicenseCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/SIMASteelImportLicenseCredential.yml'
    

  /schemas/credentials/SeaCargoManifestCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/SeaCargoManifestCredential.yml'
    

  /schemas/credentials/SellerRegistrationCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/SellerRegistrationCredential.yml'
    

  /schemas/credentials/ShippingInstructionsCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/ShippingInstructionsCredential.yml'
    

  /schemas/credentials/SoftwareBillofMaterialsCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/SoftwareBillofMaterialsCredential.yml'
    

  /schemas/credentials/ThingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/ThingCredential.yml'
    

  /schemas/credentials/USMCACertificationOfOrigin.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/USMCACertificationOfOrigin.yml'
    

  /schemas/credentials/VerifiableBusinessCard.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/VerifiableBusinessCard.yml'
    

  /schemas/credentials/VerifiablePostmanCollection.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/VerifiablePostmanCollection.yml'
    

  /schemas/credentials/VerifiableScorecard.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/VerifiableScorecard.yml'
    

  /schemas/presentations/TraceablePresentation.yml:
    get:
      tags:
      - presentations
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/presentations/TraceablePresentation.yml'
    

  /schemas/snippets/BuyerParty.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/BuyerParty.yml'
    

  /schemas/snippets/ConsigneeParty.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/ConsigneeParty.yml'
    

  /schemas/snippets/IntentToImportOrganization.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/IntentToImportOrganization.yml'
    

  /schemas/snippets/IntentToImportPlace.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/IntentToImportPlace.yml'
    

  /schemas/snippets/IssuerOrganization.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/IssuerOrganization.yml'
    

  /schemas/snippets/ManufacturerParty.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/ManufacturerParty.yml'
    

  /schemas/snippets/SellerParty.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/SellerParty.yml'
    

  /schemas/snippets/ShipToParty.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/ShipToParty.yml'
    

  /schemas/snippets/carrier.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/carrier.yml'
    

  /schemas/snippets/consignee.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/consignee.yml'
    

  /schemas/snippets/consignor.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/consignor.yml'
    

  /schemas/snippets/forwarder.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/forwarder.yml'
    

  /schemas/snippets/notify.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/notify.yml'
    

  /schemas/snippets/proof.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/proof.yml'
    

  /schemas/workflows/businesscard.yml:
    get:
      tags:
      - workflows
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/workflows/businesscard.yml'
    

  /schemas/workflows/cbp-steel-tech-demo-2023.yml:
    get:
      tags:
      - workflows
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/workflows/cbp-steel-tech-demo-2023.yml'
    

  /schemas/workflows/intent-to-import.yml:
    get:
      tags:
      - workflows
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/workflows/intent-to-import.yml'
    

  /schemas/workflows/us-cbp-entry.yml:
    get:
      tags:
      - workflows
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/workflows/us-cbp-entry.yml'
    

  /schemas/workflows/us-cbp.isf.yml:
    get:
      tags:
      - workflows
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/workflows/us-cbp.isf.yml'
    

  /schemas/workflows/us-sima-steel-import-license.yml:
    get:
      tags:
      - workflows
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/workflows/us-sima-steel-import-license.yml'
    

  /schemas/workflows/us-steel-import-classification.yml:
    get:
      tags:
      - workflows
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/workflows/us-steel-import-classification.yml'
    