
openapi: 3.0.0
info:
  title: Traceability Schemas
  version: 1.0.0
servers:
  - url: https://w3id.org/traceability/openapi/components
  - url: http://localhost:5000/openapi/components

paths:
  /schemas/common/AdditionalProductCodeRegistrationCredential.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AdditionalProductCodeRegistrationCredential.yml'
    

  /schemas/common/AgricultureActivity.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgricultureActivity.yml'
    

  /schemas/common/AgricultureInspectionCommonInfo.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgricultureInspectionCommonInfo.yml'
    

  /schemas/common/AgricultureInspectionGeneric.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgricultureInspectionGeneric.yml'
    

  /schemas/common/AgriculturePackage.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgriculturePackage.yml'
    

  /schemas/common/AgricultureParcelDelivery.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgricultureParcelDelivery.yml'
    

  /schemas/common/AgricultureProduct.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgricultureProduct.yml'
    

  /schemas/common/BillOfLading.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/BillOfLading.yml'
    

  /schemas/common/BindingDataRegistrationCredential.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/BindingDataRegistrationCredential.yml'
    

  /schemas/common/Brand.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Brand.yml'
    

  /schemas/common/CTPAT.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CTPAT.yml'
    

  /schemas/common/CargoItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CargoItem.yml'
    

  /schemas/common/CargoLineItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CargoLineItem.yml'
    

  /schemas/common/ChargeDeclaration.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ChargeDeclaration.yml'
    

  /schemas/common/ChemicalProperty.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ChemicalProperty.yml'
    

  /schemas/common/CommissionEvent.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CommissionEvent.yml'
    

  /schemas/common/Commodity.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Commodity.yml'
    

  /schemas/common/ConsignmentItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ConsignmentItem.yml'
    

  /schemas/common/ConsignmentRatingDetail.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ConsignmentRatingDetail.yml'
    

  /schemas/common/ContactPoint.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ContactPoint.yml'
    

  /schemas/common/CrudeOilProduct.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CrudeOilProduct.yml'
    

  /schemas/common/Customer.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Customer.yml'
    

  /schemas/common/DCSAShippingInstruction.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/DCSAShippingInstruction.yml'
    

  /schemas/common/DCSATransportDocument.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/DCSATransportDocument.yml'
    

  /schemas/common/DeMinimisShipment.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/DeMinimisShipment.yml'
    

  /schemas/common/DeliverySchedule.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/DeliverySchedule.yml'
    

  /schemas/common/DocumentVerificationEvidence.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/DocumentVerificationEvidence.yml'
    

  /schemas/common/EDDShape.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/EDDShape.yml'
    

  /schemas/common/EDDShapeMeta.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/EDDShapeMeta.yml'
    

  /schemas/common/Entity.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Entity.yml'
    

  /schemas/common/EntrySummary.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/EntrySummary.yml'
    

  /schemas/common/EntrySummaryLineItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/EntrySummaryLineItem.yml'
    

  /schemas/common/Event.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Event.yml'
    

  /schemas/common/ExternalResource.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ExternalResource.yml'
    

  /schemas/common/FSMAAbstractKDE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAAbstractKDE.yml'
    

  /schemas/common/FSMACreatingCTE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMACreatingCTE.yml'
    

  /schemas/common/FSMAFirstReceiverData.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAFirstReceiverData.yml'
    

  /schemas/common/FSMAGrowingCTE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAGrowingCTE.yml'
    

  /schemas/common/FSMAProduct.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAProduct.yml'
    

  /schemas/common/FSMAReceivingCTE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAReceivingCTE.yml'
    

  /schemas/common/FSMAShipment.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAShipment.yml'
    

  /schemas/common/FSMAShippingCTE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAShippingCTE.yml'
    

  /schemas/common/FSMATraceabilityLot.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMATraceabilityLot.yml'
    

  /schemas/common/FSMATransformingCTE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMATransformingCTE.yml'
    

  /schemas/common/FoodDefenseDeficiency.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodDefenseDeficiency.yml'
    

  /schemas/common/FoodDefenseInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodDefenseInspection.yml'
    

  /schemas/common/FoodDefenseQuestion.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodDefenseQuestion.yml'
    

  /schemas/common/FoodGradeInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspection.yml'
    

  /schemas/common/FoodGradeInspectionDefect.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspectionDefect.yml'
    

  /schemas/common/FoodGradeInspectionLot.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspectionLot.yml'
    

  /schemas/common/FoodGradeInspectionResult.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspectionResult.yml'
    

  /schemas/common/FoodGradeInspectionSample.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspectionSample.yml'
    

  /schemas/common/FoodGradeInspectionSampleProperty.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspectionSampleProperty.yml'
    

  /schemas/common/ForeignChargeDeclaration.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ForeignChargeDeclaration.yml'
    

  /schemas/common/FreightManifest.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FreightManifest.yml'
    

  /schemas/common/GAPCorrectiveActionReport.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/GAPCorrectiveActionReport.yml'
    

  /schemas/common/GAPInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/GAPInspection.yml'
    

  /schemas/common/GAPRequirementResult.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/GAPRequirementResult.yml'
    

  /schemas/common/GeoCoordinates.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/GeoCoordinates.yml'
    

  /schemas/common/HouseBillOfLading.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/HouseBillOfLading.yml'
    

  /schemas/common/IATAAirWaybill.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/IATAAirWaybill.yml'
    

  /schemas/common/ImmediateDelivery.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ImmediateDelivery.yml'
    

  /schemas/common/ImmediateDeliveryEntity.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ImmediateDeliveryEntity.yml'
    

  /schemas/common/ImmediateDeliveryLineItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ImmediateDeliveryLineItem.yml'
    

  /schemas/common/ImporterSecurityFiling.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ImporterSecurityFiling.yml'
    

  /schemas/common/Inbond.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Inbond.yml'
    

  /schemas/common/InspectionReport.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/InspectionReport.yml'
    

  /schemas/common/Inspector.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Inspector.yml'
    

  /schemas/common/Instructions.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Instructions.yml'
    

  /schemas/common/IntentToImport.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/IntentToImport.yml'
    

  /schemas/common/Invoice.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Invoice.yml'
    

  /schemas/common/InvoiceRegistrationCredential.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/InvoiceRegistrationCredential.yml'
    

  /schemas/common/InvoiceRegistrationEvidenceDocument.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/InvoiceRegistrationEvidenceDocument.yml'
    

  /schemas/common/IssuerAgent.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/IssuerAgent.yml'
    

  /schemas/common/LEIaddress.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LEIaddress.yml'
    

  /schemas/common/LEIauthority.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LEIauthority.yml'
    

  /schemas/common/LEIentity.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LEIentity.yml'
    

  /schemas/common/LEIevidenceDocument.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LEIevidenceDocument.yml'
    

  /schemas/common/LEIregistration.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LEIregistration.yml'
    

  /schemas/common/LegalEntityIdentifierCredential.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LegalEntityIdentifierCredential.yml'
    

  /schemas/common/LinkRole.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LinkRole.yml'
    

  /schemas/common/MapResource.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MapResource.yml'
    

  /schemas/common/MasterBillOfLading.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MasterBillOfLading.yml'
    

  /schemas/common/MeasuredProperty.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MeasuredProperty.yml'
    

  /schemas/common/MeasuredValue.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MeasuredValue.yml'
    

  /schemas/common/MechanicalProperty.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MechanicalProperty.yml'
    

  /schemas/common/MultiModalBillOfLading.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MultiModalBillOfLading.yml'
    

  /schemas/common/NAISMADateTime.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMADateTime.yml'
    

  /schemas/common/NAISMAInfestation.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMAInfestation.yml'
    

  /schemas/common/NAISMAInformationSource.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMAInformationSource.yml'
    

  /schemas/common/NAISMALocation.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMALocation.yml'
    

  /schemas/common/NAISMARecordLeveldentifiers.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMARecordLeveldentifiers.yml'
    

  /schemas/common/NAISMARecordStatus.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMARecordStatus.yml'
    

  /schemas/common/NAISMASubject.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMASubject.yml'
    

  /schemas/common/NAISMATaxonomy.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMATaxonomy.yml'
    

  /schemas/common/NaturalGasProduct.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NaturalGasProduct.yml'
    

  /schemas/common/OGBillOfLading.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OGBillOfLading.yml'
    

  /schemas/common/Observation.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Observation.yml'
    

  /schemas/common/OrderRegistrationCredential.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrderRegistrationCredential.yml'
    

  /schemas/common/OrderRegistrationEvidenceDocument.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrderRegistrationEvidenceDocument.yml'
    

  /schemas/common/OrderedItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrderedItem.yml'
    

  /schemas/common/OrganicCertificate.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrganicCertificate.yml'
    

  /schemas/common/OrganicInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrganicInspection.yml'
    

  /schemas/common/OrganicOSPSectionReview.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrganicOSPSectionReview.yml'
    

  /schemas/common/OrganicReview.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrganicReview.yml'
    

  /schemas/common/Organization.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Organization.yml'
    

  /schemas/common/PGAShipmentStatus.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PGAShipmentStatus.yml'
    

  /schemas/common/PGAShipmentStatusList.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PGAShipmentStatusList.yml'
    

  /schemas/common/Package.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Package.yml'
    

  /schemas/common/PackageItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PackageItem.yml'
    

  /schemas/common/PackageRegistrationCredential.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PackageRegistrationCredential.yml'
    

  /schemas/common/PackingList.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PackingList.yml'
    

  /schemas/common/PackingListItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PackingListItem.yml'
    

  /schemas/common/PackingListRegistrationCredential.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PackingListRegistrationCredential.yml'
    

  /schemas/common/ParcelDelivery.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ParcelDelivery.yml'
    

  /schemas/common/PartOfOrder.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PartOfOrder.yml'
    

  /schemas/common/Person.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Person.yml'
    

  /schemas/common/Phytosanitary.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Phytosanitary.yml'
    

  /schemas/common/Place.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Place.yml'
    

  /schemas/common/PlantSystemsInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PlantSystemsInspection.yml'
    

  /schemas/common/PlantSystemsQuestion.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PlantSystemsQuestion.yml'
    

  /schemas/common/PostalAddress.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PostalAddress.yml'
    

  /schemas/common/PostmanCollection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PostmanCollection.yml'
    

  /schemas/common/PriceSpecification.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PriceSpecification.yml'
    

  /schemas/common/Product.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Product.yml'
    

  /schemas/common/ProductReceiptRegistrationCredential.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ProductReceiptRegistrationCredential.yml'
    

  /schemas/common/ProductRegistrationCredential.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ProductRegistrationCredential.yml'
    

  /schemas/common/ProductRegistrationEvidenceDocument.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ProductRegistrationEvidenceDocument.yml'
    

  /schemas/common/Purchase.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Purchase.yml'
    

  /schemas/common/PurchaseOrder.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PurchaseOrder.yml'
    

  /schemas/common/Qualification.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Qualification.yml'
    

  /schemas/common/QuantitativeValue.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/QuantitativeValue.yml'
    

  /schemas/common/RawMaterial.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/RawMaterial.yml'
    

  /schemas/common/RevocationList2020Status.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/RevocationList2020Status.yml'
    

  /schemas/common/SIMASteelImportLicense.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/SIMASteelImportLicense.yml'
    

  /schemas/common/SIMASteelImportProductSpecifier.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/SIMASteelImportProductSpecifier.yml'
    

  /schemas/common/Scorecard.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Scorecard.yml'
    

  /schemas/common/SeaCargoManifest.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/SeaCargoManifest.yml'
    

  /schemas/common/Seal.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Seal.yml'
    

  /schemas/common/ServiceCharge.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ServiceCharge.yml'
    

  /schemas/common/ShippingInstructions.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ShippingInstructions.yml'
    

  /schemas/common/ShippingStop.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ShippingStop.yml'
    

  /schemas/common/SoftwareBillOfMaterials.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/SoftwareBillOfMaterials.yml'
    

  /schemas/common/SteelProduct.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/SteelProduct.yml'
    

  /schemas/common/Taxonomy.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Taxonomy.yml'
    

  /schemas/common/Template.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Template.yml'
    

  /schemas/common/TraceabilityAPI.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TraceabilityAPI.yml'
    

  /schemas/common/TradeLineItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TradeLineItem.yml'
    

  /schemas/common/TransferEvent.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TransferEvent.yml'
    

  /schemas/common/TransformEvent.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TransformEvent.yml'
    

  /schemas/common/Transport.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Transport.yml'
    

  /schemas/common/TransportDocument.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TransportDocument.yml'
    

  /schemas/common/TransportEquipment.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TransportEquipment.yml'
    

  /schemas/common/TransportEvent.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TransportEvent.yml'
    

  /schemas/common/USMCACertifier.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USMCACertifier.yml'
    

  /schemas/common/USMCAProductSpecifier.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USMCAProductSpecifier.yml'
    

  /schemas/common/UsdaSc6.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/UsdaSc6.yml'
    

  /schemas/common/WayBillRegistrationCredential.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/WayBillRegistrationCredential.yml'
    

  /schemas/common/Workflow.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Workflow.yml'
    

  /schemas/common/ppq203.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ppq203.yml'
    

  /schemas/common/ppq587.yml:
    get:
      tags:
      - common
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ppq587.yml'
    

  /schemas/credentials/BillOfLadingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/BillOfLadingCredential.yml'
    

  /schemas/credentials/CBP3461ImmediateDeliveryCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CBP3461ImmediateDeliveryCredential.yml'
    

  /schemas/credentials/CBP7501EntrySummaryCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CBP7501EntrySummaryCredential.yml'
    

  /schemas/credentials/CTPATCertificate.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CTPATCertificate.yml'
    

  /schemas/credentials/CertificationOfOrigin.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CertificationOfOrigin.yml'
    

  /schemas/credentials/CommercialInvoiceCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CommercialInvoiceCredential.yml'
    

  /schemas/credentials/CrudeOilProductCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CrudeOilProductCredential.yml'
    

  /schemas/credentials/DCSAShippingInstructionCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/DCSAShippingInstructionCredential.yml'
    

  /schemas/credentials/DCSATransportDocumentCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/DCSATransportDocumentCredential.yml'
    

  /schemas/credentials/DeMinimisShipmentCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/DeMinimisShipmentCredential.yml'
    

  /schemas/credentials/FSMACreatingCTECredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMACreatingCTECredential.yml'
    

  /schemas/credentials/FSMAFirstReceiverDataCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMAFirstReceiverDataCredential.yml'
    

  /schemas/credentials/FSMAGrowingCTECredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMAGrowingCTECredential.yml'
    

  /schemas/credentials/FSMAReceivingCTECredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMAReceivingCTECredential.yml'
    

  /schemas/credentials/FSMAShippingCTECredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMAShippingCTECredential.yml'
    

  /schemas/credentials/FSMATransformingCTECredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMATransformingCTECredential.yml'
    

  /schemas/credentials/FoodDefenseInspectionCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FoodDefenseInspectionCredential.yml'
    

  /schemas/credentials/FoodGradeInspectionCertificate.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FoodGradeInspectionCertificate.yml'
    

  /schemas/credentials/FoodGradeInspectionCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FoodGradeInspectionCredential.yml'
    

  /schemas/credentials/FreightManifestCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FreightManifestCredential.yml'
    

  /schemas/credentials/GAPInspectionCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GAPInspectionCredential.yml'
    

  /schemas/credentials/HouseBillOfLadingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/HouseBillOfLadingCredential.yml'
    

  /schemas/credentials/IATAAirWaybillCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/IATAAirWaybillCredential.yml'
    

  /schemas/credentials/ImporterSecurityFilingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/ImporterSecurityFilingCredential.yml'
    

  /schemas/credentials/IntentToImportCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/IntentToImportCredential.yml'
    

  /schemas/credentials/MasterBillOfLadingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/MasterBillOfLadingCredential.yml'
    

  /schemas/credentials/MillTestReportCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/MillTestReportCredential.yml'
    

  /schemas/credentials/MultiModalBillOfLadingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/MultiModalBillOfLadingCredential.yml'
    

  /schemas/credentials/NaturalGasProductCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/NaturalGasProductCredential.yml'
    

  /schemas/credentials/OrganicCertificateCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/OrganicCertificateCredential.yml'
    

  /schemas/credentials/PGAShipmentStatusCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/PGAShipmentStatusCredential.yml'
    

  /schemas/credentials/PackingListCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/PackingListCredential.yml'
    

  /schemas/credentials/ProformaInvoiceCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/ProformaInvoiceCredential.yml'
    

  /schemas/credentials/PurchaseOrderCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/PurchaseOrderCredential.yml'
    

  /schemas/credentials/SIMASteelImportLicenseApplicationCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/SIMASteelImportLicenseApplicationCredential.yml'
    

  /schemas/credentials/SIMASteelImportLicenseCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/SIMASteelImportLicenseCredential.yml'
    

  /schemas/credentials/SeaCargoManifestCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/SeaCargoManifestCredential.yml'
    

  /schemas/credentials/ShippingInstructionsCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/ShippingInstructionsCredential.yml'
    

  /schemas/credentials/SoftwareBillofMaterialsCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/SoftwareBillofMaterialsCredential.yml'
    

  /schemas/credentials/USMCACertificationOfOrigin.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/USMCACertificationOfOrigin.yml'
    

  /schemas/credentials/VerifiableBusinessCard.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/VerifiableBusinessCard.yml'
    

  /schemas/credentials/VerifiablePostmanCollection.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/VerifiablePostmanCollection.yml'
    

  /schemas/credentials/VerifiableScorecard.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/VerifiableScorecard.yml'
    

  /schemas/presentations/TraceablePresentation.yml:
    get:
      tags:
      - presentations
      responses:
        '200':
          content:
            application/yml:
              schema:
                $ref: './components/schemas/presentations/TraceablePresentation.yml'
    