node_modules
.DS_Store
.vscode
.idea
docs/contexts/*.jsonld
docs/credentials/*.json
docs/schemas
docs/traceability-openapi-v1.json
docs/intermediate.json
docs/sections/vocab.html
docs/testsuite/index.html
docs/openapi/openapi.yml

packages/traceability-schemas/data/*.json