node_modules
.DS_Store
.vscode
.idea
docs/contexts/*.jsonld
docs/credentials/*.json
docs/schemas
docs/traceability-openapi-v1.json
docs/intermediate.json
docs/sections/vocab.html
packages/traceability-schemas/index.js
packages/traceability-schemas/src/__fixtures__/*

docs/testsuite/index.html
