
openapi: 3.1.0
info:
  title: Traceability Schemas
  version: 1.0.0
servers:
  - url: https://w3id.org/traceability/openapi/components
  - url: http://localhost:5000/openapi/components

paths:
  /schemas/common/AgricultureActivity.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued AgricultureActivity schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgricultureActivity.yml'
    

  /schemas/common/AgricultureInspectionCommonInfo.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued AgricultureInspectionCommonInfo schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgricultureInspectionCommonInfo.yml'
    

  /schemas/common/AgricultureInspectionGeneric.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued AgricultureInspectionGeneric schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgricultureInspectionGeneric.yml'
    

  /schemas/common/AgriculturePackage.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued AgriculturePackage schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgriculturePackage.yml'
    

  /schemas/common/AgricultureParcelDelivery.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued AgricultureParcelDelivery schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgricultureParcelDelivery.yml'
    

  /schemas/common/AgricultureProduct.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued AgricultureProduct schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/AgricultureProduct.yml'
    

  /schemas/common/BankAccount.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued BankAccount schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/BankAccount.yml'
    

  /schemas/common/BankAccountHolderAffirmation.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued BankAccountHolderAffirmation schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/BankAccountHolderAffirmation.yml'
    

  /schemas/common/BillOfLading.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued BillOfLading schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/BillOfLading.yml'
    

  /schemas/common/BusinessRegistrationAffirmation.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued BusinessRegistrationAffirmation schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/BusinessRegistrationAffirmation.yml'
    

  /schemas/common/CBPEntry.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued CBPEntry schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CBPEntry.yml'
    

  /schemas/common/CBPEntryEntity.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued CBPEntryEntity schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CBPEntryEntity.yml'
    

  /schemas/common/CBPEntryLineItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued CBPEntryLineItem schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CBPEntryLineItem.yml'
    

  /schemas/common/CBPEntrySummary.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued CBPEntrySummary schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CBPEntrySummary.yml'
    

  /schemas/common/CBPEntrySummaryLineItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued CBPEntrySummaryLineItem schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CBPEntrySummaryLineItem.yml'
    

  /schemas/common/CBPEntryType86.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued CBPEntryType86 schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CBPEntryType86.yml'
    

  /schemas/common/CBPImporterOfRecord.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued CBPImporterOfRecord schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CBPImporterOfRecord.yml'
    

  /schemas/common/CTPAT.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued CTPAT schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CTPAT.yml'
    

  /schemas/common/CTPATEIPApplication.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued CTPATEIPApplication schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CTPATEIPApplication.yml'
    

  /schemas/common/CTPATMember.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued CTPATMember schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CTPATMember.yml'
    

  /schemas/common/CargoItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued CargoItem schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CargoItem.yml'
    

  /schemas/common/CargoLineItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued CargoLineItem schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CargoLineItem.yml'
    

  /schemas/common/ChargeDeclaration.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued ChargeDeclaration schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ChargeDeclaration.yml'
    

  /schemas/common/ChemicalProperty.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued ChemicalProperty schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ChemicalProperty.yml'
    

  /schemas/common/CommissionEvent.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued CommissionEvent schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/CommissionEvent.yml'
    

  /schemas/common/Commodity.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Commodity schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Commodity.yml'
    

  /schemas/common/ConsignmentItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued ConsignmentItem schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ConsignmentItem.yml'
    

  /schemas/common/ConsignmentRatingDetail.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued ConsignmentRatingDetail schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ConsignmentRatingDetail.yml'
    

  /schemas/common/ContactPoint.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued ContactPoint schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ContactPoint.yml'
    

  /schemas/common/Customer.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Customer schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Customer.yml'
    

  /schemas/common/DCSAShippingInstruction.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued DCSAShippingInstruction schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/DCSAShippingInstruction.yml'
    

  /schemas/common/DCSATransportDocument.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued DCSATransportDocument schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/DCSATransportDocument.yml'
    

  /schemas/common/DeMinimisShipment.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued DeMinimisShipment schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/DeMinimisShipment.yml'
    

  /schemas/common/DeliverySchedule.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued DeliverySchedule schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/DeliverySchedule.yml'
    

  /schemas/common/DeliveryStatement.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued DeliveryStatement schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/DeliveryStatement.yml'
    

  /schemas/common/EDDShape.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued EDDShape schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/EDDShape.yml'
    

  /schemas/common/EDDShapeMeta.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued EDDShapeMeta schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/EDDShapeMeta.yml'
    

  /schemas/common/Entity.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Entity schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Entity.yml'
    

  /schemas/common/EntryNumber.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued EntryNumber schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/EntryNumber.yml'
    

  /schemas/common/Event.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Event schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Event.yml'
    

  /schemas/common/ExternalResource.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued ExternalResource schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ExternalResource.yml'
    

  /schemas/common/FSMAAbstractKDE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FSMAAbstractKDE schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAAbstractKDE.yml'
    

  /schemas/common/FSMACreatingCTE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FSMACreatingCTE schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMACreatingCTE.yml'
    

  /schemas/common/FSMAFirstReceiverData.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FSMAFirstReceiverData schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAFirstReceiverData.yml'
    

  /schemas/common/FSMAGrowingCTE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FSMAGrowingCTE schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAGrowingCTE.yml'
    

  /schemas/common/FSMAProduct.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FSMAProduct schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAProduct.yml'
    

  /schemas/common/FSMAReceivingCTE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FSMAReceivingCTE schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAReceivingCTE.yml'
    

  /schemas/common/FSMAShipment.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FSMAShipment schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAShipment.yml'
    

  /schemas/common/FSMAShippingCTE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FSMAShippingCTE schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMAShippingCTE.yml'
    

  /schemas/common/FSMATraceabilityLot.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FSMATraceabilityLot schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMATraceabilityLot.yml'
    

  /schemas/common/FSMATransformingCTE.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FSMATransformingCTE schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FSMATransformingCTE.yml'
    

  /schemas/common/FoodDefenseDeficiency.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FoodDefenseDeficiency schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodDefenseDeficiency.yml'
    

  /schemas/common/FoodDefenseInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FoodDefenseInspection schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodDefenseInspection.yml'
    

  /schemas/common/FoodDefenseQuestion.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FoodDefenseQuestion schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodDefenseQuestion.yml'
    

  /schemas/common/FoodGradeInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FoodGradeInspection schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspection.yml'
    

  /schemas/common/FoodGradeInspectionDefect.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FoodGradeInspectionDefect schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspectionDefect.yml'
    

  /schemas/common/FoodGradeInspectionLot.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FoodGradeInspectionLot schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspectionLot.yml'
    

  /schemas/common/FoodGradeInspectionResult.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FoodGradeInspectionResult schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspectionResult.yml'
    

  /schemas/common/FoodGradeInspectionSample.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FoodGradeInspectionSample schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspectionSample.yml'
    

  /schemas/common/FoodGradeInspectionSampleProperty.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FoodGradeInspectionSampleProperty schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FoodGradeInspectionSampleProperty.yml'
    

  /schemas/common/ForeignChargeDeclaration.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued ForeignChargeDeclaration schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ForeignChargeDeclaration.yml'
    

  /schemas/common/FreightManifest.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued FreightManifest schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/FreightManifest.yml'
    

  /schemas/common/GAPCorrectiveActionReport.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued GAPCorrectiveActionReport schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/GAPCorrectiveActionReport.yml'
    

  /schemas/common/GAPInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued GAPInspection schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/GAPInspection.yml'
    

  /schemas/common/GAPLocationCertification.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued GAPLocationCertification schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/GAPLocationCertification.yml'
    

  /schemas/common/GAPRequirementResult.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued GAPRequirementResult schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/GAPRequirementResult.yml'
    

  /schemas/common/GeoCoordinates.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued GeoCoordinates schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/GeoCoordinates.yml'
    

  /schemas/common/HouseBillOfLading.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued HouseBillOfLading schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/HouseBillOfLading.yml'
    

  /schemas/common/IATAAirWaybill.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued IATAAirWaybill schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/IATAAirWaybill.yml'
    

  /schemas/common/ImporterSecurityFiling.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued ImporterSecurityFiling schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ImporterSecurityFiling.yml'
    

  /schemas/common/Inbond.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Inbond schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Inbond.yml'
    

  /schemas/common/InspectionReport.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued InspectionReport schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/InspectionReport.yml'
    

  /schemas/common/Inspector.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Inspector schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Inspector.yml'
    

  /schemas/common/Instructions.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Instructions schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Instructions.yml'
    

  /schemas/common/IntellectualPropertyRights.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued IntellectualPropertyRights schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/IntellectualPropertyRights.yml'
    

  /schemas/common/IntellectualPropertyRightsAffirmation.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued IntellectualPropertyRightsAffirmation schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/IntellectualPropertyRightsAffirmation.yml'
    

  /schemas/common/IntellectualPropertyRightsLicense.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued IntellectualPropertyRightsLicense schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/IntellectualPropertyRightsLicense.yml'
    

  /schemas/common/IntentToImport.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued IntentToImport schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/IntentToImport.yml'
    

  /schemas/common/Invoice.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Invoice schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Invoice.yml'
    

  /schemas/common/LEIAddress.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued LEIAddress schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LEIAddress.yml'
    

  /schemas/common/LEIAuthority.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued LEIAuthority schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LEIAuthority.yml'
    

  /schemas/common/LEIEntity.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued LEIEntity schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LEIEntity.yml'
    

  /schemas/common/LEIRegistration.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued LEIRegistration schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LEIRegistration.yml'
    

  /schemas/common/LaceyActProductDeclaration.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued LaceyActProductDeclaration schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LaceyActProductDeclaration.yml'
    

  /schemas/common/LinkRole.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued LinkRole schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/LinkRole.yml'
    

  /schemas/common/MapResource.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued MapResource schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MapResource.yml'
    

  /schemas/common/MasterBillOfLading.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued MasterBillOfLading schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MasterBillOfLading.yml'
    

  /schemas/common/MeasuredProperty.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued MeasuredProperty schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MeasuredProperty.yml'
    

  /schemas/common/MeasuredValue.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued MeasuredValue schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MeasuredValue.yml'
    

  /schemas/common/MechanicalProperty.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued MechanicalProperty schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MechanicalProperty.yml'
    

  /schemas/common/MonetaryAmount.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued MonetaryAmount schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MonetaryAmount.yml'
    

  /schemas/common/MonthlyAdvanceManifest.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued MonthlyAdvanceManifest schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MonthlyAdvanceManifest.yml'
    

  /schemas/common/MonthlyDeliveryStatement.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued MonthlyDeliveryStatement schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MonthlyDeliveryStatement.yml'
    

  /schemas/common/MultiModalBillOfLading.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued MultiModalBillOfLading schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/MultiModalBillOfLading.yml'
    

  /schemas/common/NAISMADateTime.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued NAISMADateTime schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMADateTime.yml'
    

  /schemas/common/NAISMAInfestation.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued NAISMAInfestation schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMAInfestation.yml'
    

  /schemas/common/NAISMAInformationSource.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued NAISMAInformationSource schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMAInformationSource.yml'
    

  /schemas/common/NAISMALocation.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued NAISMALocation schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMALocation.yml'
    

  /schemas/common/NAISMARecordLeveldentifiers.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued NAISMARecordLeveldentifiers schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMARecordLeveldentifiers.yml'
    

  /schemas/common/NAISMARecordStatus.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued NAISMARecordStatus schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMARecordStatus.yml'
    

  /schemas/common/NAISMASubject.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued NAISMASubject schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMASubject.yml'
    

  /schemas/common/NAISMATaxonomy.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued NAISMATaxonomy schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/NAISMATaxonomy.yml'
    

  /schemas/common/Observation.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Observation schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Observation.yml'
    

  /schemas/common/OilAndGasDeliveryTicket.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued OilAndGasDeliveryTicket schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OilAndGasDeliveryTicket.yml'
    

  /schemas/common/OilAndGasProduct.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued OilAndGasProduct schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OilAndGasProduct.yml'
    

  /schemas/common/Order.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Order schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Order.yml'
    

  /schemas/common/OrderItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued OrderItem schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrderItem.yml'
    

  /schemas/common/OrganicCertificate.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued OrganicCertificate schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrganicCertificate.yml'
    

  /schemas/common/OrganicInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued OrganicInspection schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrganicInspection.yml'
    

  /schemas/common/OrganicOSPSectionReview.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued OrganicOSPSectionReview schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrganicOSPSectionReview.yml'
    

  /schemas/common/OrganicProductCertificate.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued OrganicProductCertificate schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrganicProductCertificate.yml'
    

  /schemas/common/OrganicReview.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued OrganicReview schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/OrganicReview.yml'
    

  /schemas/common/Organization.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Organization schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Organization.yml'
    

  /schemas/common/PGAShipmentStatus.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued PGAShipmentStatus schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PGAShipmentStatus.yml'
    

  /schemas/common/PGAShipmentStatusList.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued PGAShipmentStatusList schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PGAShipmentStatusList.yml'
    

  /schemas/common/Package.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Package schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Package.yml'
    

  /schemas/common/PackingList.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued PackingList schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PackingList.yml'
    

  /schemas/common/ParcelDelivery.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued ParcelDelivery schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ParcelDelivery.yml'
    

  /schemas/common/PartOfOrder.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued PartOfOrder schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PartOfOrder.yml'
    

  /schemas/common/Person.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Person schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Person.yml'
    

  /schemas/common/PestDetermination.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued PestDetermination schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PestDetermination.yml'
    

  /schemas/common/PestSample.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued PestSample schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PestSample.yml'
    

  /schemas/common/Phytosanitary.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Phytosanitary schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Phytosanitary.yml'
    

  /schemas/common/Place.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Place schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Place.yml'
    

  /schemas/common/PlantSystemsInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued PlantSystemsInspection schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PlantSystemsInspection.yml'
    

  /schemas/common/PlantSystemsQuestion.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued PlantSystemsQuestion schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PlantSystemsQuestion.yml'
    

  /schemas/common/PostalAddress.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued PostalAddress schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PostalAddress.yml'
    

  /schemas/common/PostmanCollection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued PostmanCollection schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PostmanCollection.yml'
    

  /schemas/common/PriceSpecification.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued PriceSpecification schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PriceSpecification.yml'
    

  /schemas/common/Product.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Product schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Product.yml'
    

  /schemas/common/Purchase.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Purchase schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Purchase.yml'
    

  /schemas/common/PurchaseOrder.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued PurchaseOrder schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/PurchaseOrder.yml'
    

  /schemas/common/Qualification.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Qualification schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Qualification.yml'
    

  /schemas/common/QuantitativeValue.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued QuantitativeValue schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/QuantitativeValue.yml'
    

  /schemas/common/RawMaterial.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued RawMaterial schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/RawMaterial.yml'
    

  /schemas/common/RevocationList2020Status.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued RevocationList2020Status schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/RevocationList2020Status.yml'
    

  /schemas/common/RoutingInfo.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued RoutingInfo schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/RoutingInfo.yml'
    

  /schemas/common/SIMASteelImportLicense.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued SIMASteelImportLicense schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/SIMASteelImportLicense.yml'
    

  /schemas/common/SIMASteelImportProductSpecifier.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued SIMASteelImportProductSpecifier schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/SIMASteelImportProductSpecifier.yml'
    

  /schemas/common/Scorecard.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Scorecard schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Scorecard.yml'
    

  /schemas/common/SeaCargoManifest.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued SeaCargoManifest schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/SeaCargoManifest.yml'
    

  /schemas/common/Seal.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Seal schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Seal.yml'
    

  /schemas/common/ServiceCharge.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued ServiceCharge schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ServiceCharge.yml'
    

  /schemas/common/ShippingDetails.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued ShippingDetails schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ShippingDetails.yml'
    

  /schemas/common/ShippingInstructions.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued ShippingInstructions schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/ShippingInstructions.yml'
    

  /schemas/common/SoftwareBillOfMaterials.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued SoftwareBillOfMaterials schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/SoftwareBillOfMaterials.yml'
    

  /schemas/common/SteelProduct.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued SteelProduct schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/SteelProduct.yml'
    

  /schemas/common/TSCACertification.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued TSCACertification schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TSCACertification.yml'
    

  /schemas/common/Taxonomy.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Taxonomy schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Taxonomy.yml'
    

  /schemas/common/TemperatureReading.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued TemperatureReading schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TemperatureReading.yml'
    

  /schemas/common/Template.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Template schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Template.yml'
    

  /schemas/common/Thing.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Thing schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Thing.yml'
    

  /schemas/common/TraceabilityAPI.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued TraceabilityAPI schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TraceabilityAPI.yml'
    

  /schemas/common/TradeLineItem.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued TradeLineItem schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TradeLineItem.yml'
    

  /schemas/common/TransferEvent.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued TransferEvent schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TransferEvent.yml'
    

  /schemas/common/TransformEvent.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued TransformEvent schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TransformEvent.yml'
    

  /schemas/common/Transport.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued Transport schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/Transport.yml'
    

  /schemas/common/TransportDocument.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued TransportDocument schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TransportDocument.yml'
    

  /schemas/common/TransportEquipment.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued TransportEquipment schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TransportEquipment.yml'
    

  /schemas/common/TransportEvent.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued TransportEvent schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/TransportEvent.yml'
    

  /schemas/common/USDAPPQ203ForeignSiteInspection.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued USDAPPQ203ForeignSiteInspection schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ203ForeignSiteInspection.yml'
    

  /schemas/common/USDAPPQ309APestInterceptionRecord.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued USDAPPQ309APestInterceptionRecord schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ309APestInterceptionRecord.yml'
    

  /schemas/common/USDAPPQ368NoticeOfArrival.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued USDAPPQ368NoticeOfArrival schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ368NoticeOfArrival.yml'
    

  /schemas/common/USDAPPQ391SpecimensForDetermination.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued USDAPPQ391SpecimensForDetermination schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ391SpecimensForDetermination.yml'
    

  /schemas/common/USDAPPQ429FumigationRecord.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued USDAPPQ429FumigationRecord schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ429FumigationRecord.yml'
    

  /schemas/common/USDAPPQ449RTemperatureCalibration.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued USDAPPQ449RTemperatureCalibration schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ449RTemperatureCalibration.yml'
    

  /schemas/common/USDAPPQ505PlantDeclaration.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued USDAPPQ505PlantDeclaration schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ505PlantDeclaration.yml'
    

  /schemas/common/USDAPPQ519ComplianceAgreement.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued USDAPPQ519ComplianceAgreement schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ519ComplianceAgreement.yml'
    

  /schemas/common/USDAPPQ587PlantImportApplication.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued USDAPPQ587PlantImportApplication schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDAPPQ587PlantImportApplication.yml'
    

  /schemas/common/USDASC6ExemptCommodity.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued USDASC6ExemptCommodity schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDASC6ExemptCommodity.yml'
    

  /schemas/common/USDASpecialtyCrops237AForm.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued USDASpecialtyCrops237AForm schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USDASpecialtyCrops237AForm.yml'
    

  /schemas/common/USMCACertifier.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued USMCACertifier schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USMCACertifier.yml'
    

  /schemas/common/USMCAClaims.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued USMCAClaims schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USMCAClaims.yml'
    

  /schemas/common/USMCAProduct.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued USMCAProduct schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/USMCAProduct.yml'
    

  /schemas/common/WebLEI.yml:
    get:
      tags:
      - common
      responses:
        '200':
          description: 'successfully issued WebLEI schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/common/WebLEI.yml'
    

  /schemas/credentials/ActivityPubActorCard.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued ActivityPubActorCard schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/ActivityPubActorCard.yml'
    

  /schemas/credentials/AgricultureCanineCard.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued AgricultureCanineCard schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/AgricultureCanineCard.yml'
    

  /schemas/credentials/BankAccountCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued BankAccountCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/BankAccountCredential.yml'
    

  /schemas/credentials/BillOfLadingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued BillOfLadingCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/BillOfLadingCredential.yml'
    

  /schemas/credentials/CBP3461EntryCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued CBP3461EntryCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CBP3461EntryCredential.yml'
    

  /schemas/credentials/CBP7501EntrySummaryCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued CBP7501EntrySummaryCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CBP7501EntrySummaryCredential.yml'
    

  /schemas/credentials/CBPEntryType86Credential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued CBPEntryType86Credential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CBPEntryType86Credential.yml'
    

  /schemas/credentials/CBPSection321DeMinimisCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued CBPSection321DeMinimisCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CBPSection321DeMinimisCredential.yml'
    

  /schemas/credentials/CTPATCertificate.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued CTPATCertificate schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CTPATCertificate.yml'
    

  /schemas/credentials/CertificationOfOrigin.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued CertificationOfOrigin schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CertificationOfOrigin.yml'
    

  /schemas/credentials/CommercialInvoiceCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued CommercialInvoiceCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/CommercialInvoiceCredential.yml'
    

  /schemas/credentials/DCSAShippingInstructionCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued DCSAShippingInstructionCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/DCSAShippingInstructionCredential.yml'
    

  /schemas/credentials/DCSATransportDocumentCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued DCSATransportDocumentCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/DCSATransportDocumentCredential.yml'
    

  /schemas/credentials/DeliveryScheduleCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued DeliveryScheduleCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/DeliveryScheduleCredential.yml'
    

  /schemas/credentials/DeliveryStatementCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued DeliveryStatementCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/DeliveryStatementCredential.yml'
    

  /schemas/credentials/DigitalProductPassportCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued DigitalProductPassportCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/DigitalProductPassportCredential.yml'
    

  /schemas/credentials/DigitalProductPassportDataCarrierCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued DigitalProductPassportDataCarrierCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/DigitalProductPassportDataCarrierCredential.yml'
    

  /schemas/credentials/EPA35401PesticidesCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued EPA35401PesticidesCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/EPA35401PesticidesCredential.yml'
    

  /schemas/credentials/EPA35401PesticidesPart2Credential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued EPA35401PesticidesPart2Credential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/EPA35401PesticidesPart2Credential.yml'
    

  /schemas/credentials/EPA35401PesticidesPart3Credential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued EPA35401PesticidesPart3Credential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/EPA35401PesticidesPart3Credential.yml'
    

  /schemas/credentials/EntryNumberCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued EntryNumberCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/EntryNumberCredential.yml'
    

  /schemas/credentials/EventCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued EventCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/EventCredential.yml'
    

  /schemas/credentials/ExampleCredentialWithStatus.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued ExampleCredentialWithStatus schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/ExampleCredentialWithStatus.yml'
    

  /schemas/credentials/FSMACreatingCTECredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued FSMACreatingCTECredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMACreatingCTECredential.yml'
    

  /schemas/credentials/FSMAFirstReceiverDataCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued FSMAFirstReceiverDataCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMAFirstReceiverDataCredential.yml'
    

  /schemas/credentials/FSMAGrowingCTECredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued FSMAGrowingCTECredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMAGrowingCTECredential.yml'
    

  /schemas/credentials/FSMAReceivingCTECredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued FSMAReceivingCTECredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMAReceivingCTECredential.yml'
    

  /schemas/credentials/FSMAShippingCTECredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued FSMAShippingCTECredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMAShippingCTECredential.yml'
    

  /schemas/credentials/FSMATransformingCTECredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued FSMATransformingCTECredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FSMATransformingCTECredential.yml'
    

  /schemas/credentials/FoodDefenseInspectionCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued FoodDefenseInspectionCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FoodDefenseInspectionCredential.yml'
    

  /schemas/credentials/FoodGradeInspectionCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued FoodGradeInspectionCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FoodGradeInspectionCredential.yml'
    

  /schemas/credentials/FreightManifestCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued FreightManifestCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/FreightManifestCredential.yml'
    

  /schemas/credentials/GAPInspectionCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued GAPInspectionCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GAPInspectionCredential.yml'
    

  /schemas/credentials/GS18PrefixLicenseCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued GS18PrefixLicenseCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GS18PrefixLicenseCredential.yml'
    

  /schemas/credentials/GS1CompanyPrefixLicenseCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued GS1CompanyPrefixLicenseCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GS1CompanyPrefixLicenseCredential.yml'
    

  /schemas/credentials/GS1DataCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued GS1DataCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GS1DataCredential.yml'
    

  /schemas/credentials/GS1DelegationCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued GS1DelegationCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GS1DelegationCredential.yml'
    

  /schemas/credentials/GS1IdentificationKeyLicenseCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued GS1IdentificationKeyLicenseCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GS1IdentificationKeyLicenseCredential.yml'
    

  /schemas/credentials/GS1KeyCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued GS1KeyCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GS1KeyCredential.yml'
    

  /schemas/credentials/GS1PrefixLicenseCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued GS1PrefixLicenseCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/GS1PrefixLicenseCredential.yml'
    

  /schemas/credentials/HouseBillOfLadingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued HouseBillOfLadingCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/HouseBillOfLadingCredential.yml'
    

  /schemas/credentials/IATAAirWaybillCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued IATAAirWaybillCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/IATAAirWaybillCredential.yml'
    

  /schemas/credentials/ImporterSecurityFilingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued ImporterSecurityFilingCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/ImporterSecurityFilingCredential.yml'
    

  /schemas/credentials/IntellectualPropertyRightsCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued IntellectualPropertyRightsCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/IntellectualPropertyRightsCredential.yml'
    

  /schemas/credentials/IntellectualPropertyRightsLicenseCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued IntellectualPropertyRightsLicenseCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/IntellectualPropertyRightsLicenseCredential.yml'
    

  /schemas/credentials/IntentToImportCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued IntentToImportCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/IntentToImportCredential.yml'
    

  /schemas/credentials/InventoryRegistrationCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued InventoryRegistrationCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/InventoryRegistrationCredential.yml'
    

  /schemas/credentials/MasterBillOfLadingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued MasterBillOfLadingCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/MasterBillOfLadingCredential.yml'
    

  /schemas/credentials/MexicoEInvoiceCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued MexicoEInvoiceCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/MexicoEInvoiceCredential.yml'
    

  /schemas/credentials/MillTestReportCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued MillTestReportCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/MillTestReportCredential.yml'
    

  /schemas/credentials/MonthlyAdvanceManifestCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued MonthlyAdvanceManifestCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/MonthlyAdvanceManifestCredential.yml'
    

  /schemas/credentials/MonthlyAggregateDeliveryStatements.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued MonthlyAggregateDeliveryStatements schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/MonthlyAggregateDeliveryStatements.yml'
    

  /schemas/credentials/MultiModalBillOfLadingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued MultiModalBillOfLadingCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/MultiModalBillOfLadingCredential.yml'
    

  /schemas/credentials/OilAndGasDeliveryTicketCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued OilAndGasDeliveryTicketCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/OilAndGasDeliveryTicketCredential.yml'
    

  /schemas/credentials/OilAndGasProductCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued OilAndGasProductCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/OilAndGasProductCredential.yml'
    

  /schemas/credentials/OrderConfirmationCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued OrderConfirmationCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/OrderConfirmationCredential.yml'
    

  /schemas/credentials/OrganicCertificateCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued OrganicCertificateCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/OrganicCertificateCredential.yml'
    

  /schemas/credentials/PGAShipmentStatusCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued PGAShipmentStatusCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/PGAShipmentStatusCredential.yml'
    

  /schemas/credentials/PackingListCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued PackingListCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/PackingListCredential.yml'
    

  /schemas/credentials/PlantSystemsInspectionCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued PlantSystemsInspectionCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/PlantSystemsInspectionCredential.yml'
    

  /schemas/credentials/PowerOfAttorneyCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued PowerOfAttorneyCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/PowerOfAttorneyCredential.yml'
    

  /schemas/credentials/ProductRegistrationCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued ProductRegistrationCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/ProductRegistrationCredential.yml'
    

  /schemas/credentials/PurchaseOrderCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued PurchaseOrderCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/PurchaseOrderCredential.yml'
    

  /schemas/credentials/SIMASteelImportLicenseApplicationCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued SIMASteelImportLicenseApplicationCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/SIMASteelImportLicenseApplicationCredential.yml'
    

  /schemas/credentials/SIMASteelImportLicenseCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued SIMASteelImportLicenseCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/SIMASteelImportLicenseCredential.yml'
    

  /schemas/credentials/SeaCargoManifestCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued SeaCargoManifestCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/SeaCargoManifestCredential.yml'
    

  /schemas/credentials/ShippingInstructionsCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued ShippingInstructionsCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/ShippingInstructionsCredential.yml'
    

  /schemas/credentials/SoftwareBillofMaterialsCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued SoftwareBillofMaterialsCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/SoftwareBillofMaterialsCredential.yml'
    

  /schemas/credentials/TSCACertificationCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued TSCACertificationCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/TSCACertificationCredential.yml'
    

  /schemas/credentials/ThingCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued ThingCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/ThingCredential.yml'
    

  /schemas/credentials/USMCACertificationOfOrigin.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued USMCACertificationOfOrigin schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/USMCACertificationOfOrigin.yml'
    

  /schemas/credentials/VerifiableBusinessCard.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued VerifiableBusinessCard schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/VerifiableBusinessCard.yml'
    

  /schemas/credentials/VerifiablePostmanCollection.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued VerifiablePostmanCollection schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/VerifiablePostmanCollection.yml'
    

  /schemas/credentials/VerifiableScorecard.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued VerifiableScorecard schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/VerifiableScorecard.yml'
    

  /schemas/credentials/environmentalImpactCredential.yml:
    get:
      tags:
      - credentials
      responses:
        '200':
          description: 'successfully issued environmentalImpactCredential schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/credentials/environmentalImpactCredential.yml'
    

  /schemas/snippets/BuyerParty.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          description: 'successfully issued BuyerParty schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/BuyerParty.yml'
    

  /schemas/snippets/ConsigneeParty.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          description: 'successfully issued ConsigneeParty schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/ConsigneeParty.yml'
    

  /schemas/snippets/IntentToImportOrganization.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          description: 'successfully issued IntentToImportOrganization schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/IntentToImportOrganization.yml'
    

  /schemas/snippets/IntentToImportPlace.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          description: 'successfully issued IntentToImportPlace schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/IntentToImportPlace.yml'
    

  /schemas/snippets/IssuerOrganization.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          description: 'successfully issued IssuerOrganization schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/IssuerOrganization.yml'
    

  /schemas/snippets/ManufacturerParty.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          description: 'successfully issued ManufacturerParty schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/ManufacturerParty.yml'
    

  /schemas/snippets/SellerParty.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          description: 'successfully issued SellerParty schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/SellerParty.yml'
    

  /schemas/snippets/ShipToParty.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          description: 'successfully issued ShipToParty schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/ShipToParty.yml'
    

  /schemas/snippets/carrier.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          description: 'successfully issued carrier schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/carrier.yml'
    

  /schemas/snippets/consignee.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          description: 'successfully issued consignee schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/consignee.yml'
    

  /schemas/snippets/consignor.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          description: 'successfully issued consignor schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/consignor.yml'
    

  /schemas/snippets/forwarder.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          description: 'successfully issued forwarder schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/forwarder.yml'
    

  /schemas/snippets/notify.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          description: 'successfully issued notify schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/notify.yml'
    

  /schemas/snippets/proof.yml:
    get:
      tags:
      - snippets
      responses:
        '200':
          description: 'successfully issued proof schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/snippets/proof.yml'
    

  /schemas/workflows/businesscard.yml:
    get:
      tags:
      - workflows
      responses:
        '200':
          description: 'successfully issued businesscard schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/workflows/businesscard.yml'
    

  /schemas/workflows/cbp-ecommerce-apparel-tech-demo-2024.yml:
    get:
      tags:
      - workflows
      responses:
        '200':
          description: 'successfully issued cbp-ecommerce-apparel-tech-demo-2024 schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/workflows/cbp-ecommerce-apparel-tech-demo-2024.yml'
    

  /schemas/workflows/cbp-ecommerce-pesticides-tech-demo-2024.yml:
    get:
      tags:
      - workflows
      responses:
        '200':
          description: 'successfully issued cbp-ecommerce-pesticides-tech-demo-2024 schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/workflows/cbp-ecommerce-pesticides-tech-demo-2024.yml'
    

  /schemas/workflows/cbp-steel-tech-demo-2023.yml:
    get:
      tags:
      - workflows
      responses:
        '200':
          description: 'successfully issued cbp-steel-tech-demo-2023 schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/workflows/cbp-steel-tech-demo-2023.yml'
    

  /schemas/workflows/intent-to-import.yml:
    get:
      tags:
      - workflows
      responses:
        '200':
          description: 'successfully issued intent-to-import schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/workflows/intent-to-import.yml'
    

  /schemas/workflows/us-cbp-entry.yml:
    get:
      tags:
      - workflows
      responses:
        '200':
          description: 'successfully issued us-cbp-entry schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/workflows/us-cbp-entry.yml'
    

  /schemas/workflows/us-cbp.isf.yml:
    get:
      tags:
      - workflows
      responses:
        '200':
          description: 'successfully issued us-cbp schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/workflows/us-cbp.isf.yml'
    

  /schemas/workflows/us-sima-steel-import-license.yml:
    get:
      tags:
      - workflows
      responses:
        '200':
          description: 'successfully issued us-sima-steel-import-license schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/workflows/us-sima-steel-import-license.yml'
    

  /schemas/workflows/us-steel-import-classification.yml:
    get:
      tags:
      - workflows
      responses:
        '200':
          description: 'successfully issued us-steel-import-classification schema.'
          content:
            application/yml:
              schema:
                $ref: './components/schemas/workflows/us-steel-import-classification.yml'
    